<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content scroll="false" padding class="login-background">

  <form [formGroup]="form" (submit)=createRegis()>
    <ion-row class="row-from">
      <ion-col col-2>
        <img src="./assets/imgs/name.png" class="img-size">
      </ion-col>
      <ion-col>
        <ion-item class="input-text">
          <ion-input placeholder="ชื่อ-สกุล" formControllName="fullname" class="custom-input"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <img src="./assets/imgs/avatar.png" class="img-size">
      </ion-col>
      <ion-col>
        <ion-item class="input-text">
          <ion-input placeholder="Username" formControlName="username" class="custom-input"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <img src="./assets/imgs/padlock.png" class="img-size">
      </ion-col>
      <ion-col>
        <ion-item class="input-text">
          <ion-input placeholder="Password" formControlName="password" class="custom-input"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <img src="./assets/imgs/relock.png" class="img-size">
      </ion-col>
      <ion-col>
        <ion-item class="input-text">
          <ion-input placeholder="Re-Password" formControlName="repassword" class="custom-input"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <div class="button-option">
      <button ion-button round full color="green-bootstrap">บันทึก</button>
    </div>
  </form>

</ion-content>
